.section_wrapper {
  font-size: 17px;
  margin-bottom: 15px;
  .timeline_wrapper {
    padding: 0px 8px;
    cursor: grab;
    .day_separator {
      left: -18%;
      color: var(--color-light-grey-opacity-low);
      position: relative;
    }
    .day_separator::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ccc;
    }
    .weather_timeline_item {
      width: 43px;
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      img {
        width: 43px;
      }
      p:last-child {
        font-weight: bold;
      }
    }
  }
}
