.section_wrapper {
  font-size: 17px;
  margin-bottom: 15px;
  .timeline_wrapper {
    padding: 0px 8px;
    cursor: grab;
    .swiper_slide{
      position: relative;
      display: flex;
      justify-content: center;
      .day_separator {
      background-color: var(--color-light-grey-opacity-low);
      position: absolute;
      width: 1px;
      z-index: 5;
      left: -50%;
      top: 0;
      bottom: 0;
    }
    .weather_timeline_item {
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      p:first-child {
        text-transform: capitalize;
        white-space: nowrap;
      }
      img {
        width: 43px;
      }
      p:last-child {
        font-weight: var(--week-bold-text);
      }
    }
    }
    
  }
}
