.section_wrapper {
  padding: 16px 0px;
  .feelings_wrapper {
    cursor: grab;
    padding: 16px 0px;
    :global(.swiper-wrapper) {
      display: flex;
      align-items: stretch;
    }
    :global(.swiper-slide) {
      height: auto;
      display: flex;
    }
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
      padding: 16px;
      box-shadow: 0 4px 10px 0 #939cb033;
      width: 48px;
      height: 48px;
      transition: all 0.3s ease;
      svg {
        color: black;
        stroke: black;
        fill: black;
        width: 7px;
        path {
          stroke-width: 1.5;
        }
      }
    }
    :global(.swiper-button-disabled) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .feelings_item {
      padding: 16px 20px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 4px 10px 0px rgba(147, 156, 176, 0.2);
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      gap: 14px;
      .img_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        img:first-child {
          width: 26px;
        }
        img:last-child{
          width: 66px;
          position: absolute;
          top: -30px;
        }
      }
      .title_wrapper {
        p {
          font-size: 14px;
          color: rgba(133, 136, 158, 1);
        }
      }
    }
  }
}
