.main_wrapper {
  width: 100%;
  .main_chart_wrapper {
    @media (max-width: 781px) {
      overflow-x: scroll;
      display: none;
      padding: 0px 10px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .title_main {
    margin-bottom: 20px;
    @media (max-width: 781px) {
      margin-bottom: 10px;
    }
  }
  .dropdown_button {
    display: none;
    background-color: inherit;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    img {
      width: 12px;
      transition: all 0.2s ease-in-out;
    }
    @media (max-width: 781px) {
      display: flex;
    }
  }
  .days_wrapper {
    display: flex;
    gap: 10px;
    .day_wrapper {
      width: 100%;
      text-align: center;
      padding: 10px 6px;
      background-color: var(--white-bg);
      border-radius: var(--default-radius);
      box-shadow: var(--default-shadow);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: var(--button-shadow-hovered);
        color: var(--link-red-hovered);
      }
      @media (max-width: 781px) {
        min-width: 62px;
      }
      .day_week {
        font-size: 20px;
        font-weight: var(--week-bold-text);
        text-transform: capitalize;
        margin-bottom: 5px;
      }
      img {
        width: 32px;
        margin-bottom: 7px;
      }
      .weekend_day {
        color: var(--link-red-hovered);
      }
    }
  }
  .chart_wrapper {
    width: 100%;
    padding-left: calc(5% - 32px);
    padding-right: calc(5% - 27px);
    margin: 0 auto;
    height: 200px;
    @media (max-width: 781px) {
      padding-left: 5px;
      padding-right: 0;
      min-width: 705px;
    }
    .frame {
      border-radius: var(--default-radius);
      width: 100%;
      height: 100%;
      font-size: 12px;
      text-align: center;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      &_day {
        background-color: #5388d7;
      }
      &_night {
        background-color: #c5ccd4;
      }
    }
  }
  .active {
    display: block;
  }
}
