.sectionWrapper {
  background-color: var(--white-bg);
  position: relative;
  top: -60px;
  border-radius: 32px 32px 24px 24px;
  padding: 12px 24px;
  margin-bottom: -50px;
  overflow-x: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    backdrop-filter: blur(0.3px);
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    z-index: 2;
    pointer-events: none;
  }
  @media (max-width: 781px) {
    &::after {
      content: none;
    }
  }
}
