.settings_dropdown {
  position: absolute;
  right: 3px;
  top: 55px;
  background-color: rgba(247, 248, 250, 1);
  border-radius: $strong-radius;
  box-shadow: $default-shadow;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  gap: 8px;
  ::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
  .profile_wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: $white-bg;
    border-radius: $default-radius;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $grey-bg-opacity-low;
    }
    .circle {
      width: 40px;
      height: auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(https://weather.yastatic.net/s3/weather-frontend/front2/_next/static/media/plusCircle.578f8995.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }
    }
    img {
      border-radius: $half-radius;
      width: 32px;
      height: auto;
      margin: 4px 0 0 4px;
    }
  }
  .theme_wrapper {
    background-color: $white-bg;
    border-radius: $default-radius;
    padding: 20px;
    .title_wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;
      img {
        width: 24px;
        height: auto;
      }
    }
    .button_wrapper {
      display: flex;
      gap: 3px;
      background-color: $color-light-grey-opacity-low;
      border-radius: $default-radius;
      padding: 3px;
      button {
        background-color: $white-bg;
        border-radius: $default-radius;
        min-width: 106px;
        min-height: 36px;
        font-size: 14px;
        font-weight: $week-bold-text;
        cursor: pointer;
      }
    }
  }
  .navigation_wrapper {
    display: flex;
    flex-direction: column;
    background-color: $white-bg;
    border-radius: $default-radius;
    max-height: 315px;
    overflow-y: scroll;
    padding: 5px;
  }
}
