.section_wrapper {
  padding: 16px 0px;
  .feelings_wrapper {
    cursor: grab;
    padding: 16px 0px;
    .feelings_item {
      padding: 16px 20px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0px 4px 10px 0px rgba(147, 156, 176, 0.2);
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      gap: 14px;
      .category_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .img_wrapper{
          width: 45px;
        }
        img:first-child {
          width: 26px;
          position: absolute;
          top: 10px;
          
        }
        img:last-child{
          width: 45px;
        }
        p{
          position: absolute;
          font-weight: bold;
          top: 13px;
        }
      }
      .title_wrapper {
        p {
          font-size: 14px;
          color: rgba(133, 136, 158, 1);
        }
      }
    }
  }
}
