.section_wrapper {
  background-color: var(--white-bg);
  border-radius: var(--default-radius);
  padding: 20px 24px;
  width: 50%;
  .title_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    img {
      width: 12px;
      transform: rotate(270deg);
    }
  }
  .news_wrapper {
    border-radius: var(--default-radius);
    padding: 16px 14px;
    background-position: center;
    background-size: cover;
    height: calc(100% - 44px);
    width: 100%;
    cursor: pointer;
    p {
      color: white;
      font-weight: var(--week-bold-text);
      font-size: 20px;
    }
  }
}
