.effect_details_item {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    height: 24px;
    padding: 4px;
    background-color: rgba(247, 248, 250, 1);
    border-radius: $default-radius;
  }
}
