.section_wrapper{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  height: 400px;
  @media (max-width: 1151px) {
    height: 350px;
  }
  @media (max-width: 781px) {
    display: none;
  }
}