.section_wrapper {
  margin-bottom: 32px;
  h3 {
    margin-bottom: 16px;
  }
  .precipitation_wrapper {
    display: flex;
    gap: 8px;
    .source_wrapper {
      background-color: $grey-bg-opacity-low;
      padding: 12px 20px;
      border-radius: $default-radius;
      width: 100%;
      .title {
        font-size: 17px;
        margin-bottom: 4px;
      }
    }
  }
}
