.forecast_month {
  display: none;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--default-shadow);
  padding: 7px 15px;
  border-radius: var(--default-radius);
  margin-bottom: 20px;
  .img_container {
    display: flex;
    gap: 10px;
    align-items: center;
    img {
      width: 30px;
      transform: none;
    }
  }
  img {
    width: 12px;
    transform: rotate(268deg);
  }
  @media (max-width: 781px) {
    display: flex;
  }
}
