.section_wrapper {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .weather_summary {
    display: flex;
    font-weight: var(--week-bold-text);
    align-items: center;
    gap: 10px;
    @media (max-width: 1151px) {
      flex-wrap: wrap;
      row-gap: 0;
    }
    .break{
      display: none;
      flex-basis: 100%;
      height: 0;
      @media (max-width: 781px) {
        display: block;
      }
    }
    .degrees {
      font-size: 68px;
      span {
        &:first-child,
        &:last-child {
          font-size: 48px;
        }
        &:first-child {
          position: relative;
          top: -6px;
        }
        &:last-child {
          line-height: 58px;
          position: relative;
          top: -17px;
        }
      }
    }
    img {
      width: 70px;
      height: 70px;
    }
    .summary {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .summary_item {
        font-size: 18px;
      }
    }
  }

  .weather_details {
    display: flex;
    color: var(--color-light-grey);
    justify-content: space-between;
    @media (max-width: 781px) {
      order: -1;
    }
    .degrees_details,
    .effect_details {
      display: flex;
      gap: 10px;
    }
    @media (max-width: 781px) {
      .effect_details{
        display: none;
      }
    }
    .effect_details_item {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    img {
      height: 24px;
      padding: 4px;
      background-color: rgba(247, 248, 250, 1);
      border-radius: var(--default-radius);
    }
  }
}
