.section_wrapper {
  font-size: 17px;
  padding: 0px 8px;
  .timeline_wrapper {
    cursor: grab;
    :global(.swiper-wrapper) {
      display: flex;
      align-items: stretch;
    }
    :global(.swiper-slide) {
      height: auto;
      display: flex;
    }
    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
      padding: 16px;
      box-shadow: 0 4px 10px 0 #939cb033;
      width: 48px;
      height: 48px;
      transition: all 0.3s ease;
      svg {
        color: black;
        stroke: black;
        fill: black;
        width: 7px;
        path {
          stroke-width: 1.5;
        }
      }
    }
    :global(.swiper-button-disabled) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .day_separator {
      left: -18%;
      color: #999;
      position: relative;
    }
    .day_separator::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ccc;
    }
    .weather_timeline_item {
      width: 43px;
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      img {
        width: 43px;
      }
      p:last-child {
        font-weight: bold;
      }
    }
  }
}
