.section_wrapper {
  .main_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--white-bg);
    border-radius: var(--default-radius);
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    .line {
      position: absolute;
      right: calc(50% - 240px);
      top: 10%;
      height: 82%;
      width: 0.5px;
      background-color: var(--color-light-grey);
    }
    //GRID
    .grid_forecast_wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr);
      align-items: center;
      position: relative;
      row-gap: 15px;
      .forecast_date_gr {
        grid-column: span 2 / span 2;
      }
      .forecast_feeling_gr {
        grid-column-start: 3;
      }
      .forecast_wind_gr {
        grid-column-start: 4;
      }
      .forecast_humidity_gr {
        grid-column-start: 5;
      }
      .forecast_pressure_gr {
        grid-column-start: 6;
      }
      .forecast_gr_str1 {
        grid-row-start: 2;
      }
      .forecast_gr_str2 {
        grid-row-start: 3;
      }
      .forecast_gr_str3 {
        grid-row-start: 4;
      }
      .forecast_gr_str4 {
        grid-row-start: 5;
      }
    }
    .air_quality_wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;
      .sunday_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .light_arc {
          width: 160px;
        }
      }
      .grid_air_quality_wrapper {
        display: grid;
        grid-template-columns: minmax(auto, 100px) max-content;
        align-items: center;
        row-gap: 10px;
        column-gap: 15px;
        font-size: var(--font-small);
      }
    }
    //OTHER UI
    .title_date {
      font-size: 16px;
      font-weight: var(--week-bold-text);
      text-transform: capitalize;
    }
    .tmp_effect_wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      p {
        font-weight: var(--week-bold-text);
      }
      img {
        width: 32px;
      }
    }
    .wind_wrapper {
      display: flex;
      align-items: center;
      gap: 2px;
    }
    .under_arc_wrapper {
      display: flex;
      align-items: end;
      text-align: center;
      font-size: 14px;
      gap: 25px;
      margin-bottom: 25px;
    }
    .img_and_data_wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
      img {
        width: 14px;
      }
    }
  }
  .main_wrapper:hover {
    box-shadow: var(--box-shadow-hovered);
  }
}
