@font-face {
  font-family: "YSText";
  src: url(./assets/fonts/YSText-Upright-weight-VF.ttf) format("truetype");
}

* {
  font-family: "YSText", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(247, 248, 250, 1);
}

main {
  overflow-x: hidden;
  max-width: 1130px;
  margin: 0 auto;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  display: inline-block;
}

button {
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.small_grey_text {
  font-size: var(--font-small);
  color: var(--color-light-grey);
}

//==================================SWIPER
.swiper {
  overflow: visible;
}
.swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.swiper-slide {
  height: auto;
  display: flex;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--white-bg);
  border-radius: var(--half-radius);
  padding: 16px;
  box-shadow: var(--default-shadow);
  width: 48px;
  height: 48px;
  transition: all 0.3s ease;
  svg {
    color: black;
    stroke: black;
    fill: black;
    width: 7px;
    path {
      stroke-width: 1.5;
    }
  }
}
.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
