.section_wrapper {
  margin-bottom: 20px;
  .status_wrapper {
    cursor: grab;
    .status_item {
      padding: 16px 16px 12px;
      background-color: var(--blue-light-bg);
      border-radius: var(--default-radius);
      width: 100%;
      cursor: pointer;
      .status_title_wrapper {
        display: flex;
        gap: 8px;
        margin-bottom: 8px;
        align-items: center;
        img {
          width: 35px;
        }
      }
      &:last-child img {
        width: 26px;
      }
    }
    button {
      background-color: var(--white-bg);
      border-radius: var(--half-radius);
      padding: 16px;
      box-shadow: var(--default-shadow);
      width: 48px;
      height: 48px;
      cursor: pointer;
      img {
        width: 16px;
      }
    }
  }
}
