.section_wrapper {
  margin-bottom: 20px;
  .status_wrapper {
    cursor: grab;
    :global(.swiper-slide) {
      width: 460px;
      @media (max-width: $tablet-screen) {
        width: 100%;
      }
    }
    .status_item {
      padding: 16px 16px 12px;
      background-color: $blue-light-bg;
      border-radius: $default-radius;
      width: 100%;
      cursor: pointer;
      &:hover .status_title_wrapper h3 {
        color: $link-red-hovered;
      }
      .status_title_wrapper {
        display: flex;
        gap: 8px;
        margin-bottom: 8px;
        align-items: center;
        h3 {
          transition: all 0.2s ease-in-out;
        }
        img {
          width: 35px;
          height: auto;
        }
      }
      &:last-child img {
        width: 26px;
        height: auto;
      }
    }
  }
}
